body {
  margin: 0;
  padding: 32px;
  background-color: black;
  color: white;
}

.game {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

body .map {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid rgb(19, 134, 49);
  box-sizing: content-box;
}

img.arrowsKeys {
  position: absolute;
  bottom: 0;
  left: -10rem;
  width: 9em;
  height: 6em;
  /* margin-top: 57%; */
}

.auth-forms {
  width: 100%;
  display: flex;
}

.auth-forms form:nth-child(1) {
  margin-right: 1rem;
}

.auth-forms form button {
  margin: 1rem 0;
}
